@font-face {
	font-family: 'Open Sans';
	src: url(OpenSans-ExtraBold.ttf);
}
html,body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 23px;
	font-weight: 100;
}
body{
	background: #fff;
}

#header{
	margin:50px auto 35px auto;
	text-align: center;
}
#title{
	font-family: 'Open Sans';
	font-size: 90px;
}
#desc{
	width:800px;
	margin:0 auto;
}
a{
	color:#ff4040;
}
a:hover{
	color:#ff8080;
}

#thanks{
	width:700px;
	margin:0px auto 50px auto;
	text-align: center;
}
#month{
	font-size: 30px;
}
#peeps{
	margin-top: 40px;
	font-size: 20px;
	column-count: 3;
	column-gap: 40px;
}
ul li{
	margin-bottom: 0.4em;
}
